.navbar {
    height: 70px;
    width:100%;
    border-bottom: solid 0.4px lightgray;
    padding-right: 2rem;
    display: flex;
    flex-wrap: nowrap;
}
.logo {
    float: left;
    padding: 1.6rem;
    padding-left: 40px;
    flex-shrink: 0;
}
.cartIcon {
    margin-right: 10px;
    margin-left: -10px;
    padding-bottom: 5px;
    width: 21.7px;

}

.button:focus { outline: none; color: var(--main-bg-color);}

.button {
    color: var(--main-bg-color);
    display: inline-block;
    display: flex;
    align-items: center;
}

.item {
    padding: 1.1rem;
    padding-top: 26px;
    float: right;
    font-family: "Poppins";
    font-weight: 600;
    font-size: 12px;
    line-height: 19px;
    border: none;
    border-bottom: solid 0.4px lightgray;
    color: var(--main-bg-color);
}
.cartSection {
    padding: 1.1rem;
    padding-top: 10px;
    float: right;
    font-family: "Poppins";
    font-weight: 600;
    font-size: 12px;
    line-height: 19px;
    border: none;
    border-bottom: solid 0.4px lightgray;
    color: var(--main-bg-color);
}
.items {
    width: 100%;
    float: right;
    padding-right: 40px;
    display: flex;
    justify-content: flex-end;
    margin-right: 0;
}

@media only screen and (max-width: 1175px) {
    .cartSection {
        padding-top: 25px;
    }
}